footer {
	position: relative;
	top: 100%;
	left: 0px;
	right: 0px;
	margin: 0;
	padding: 0;
}

.clr {
	clear: both;
}

.main_footer {
	width: 100%;
	height: auto;
	background-image: url("../img/footer-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: 50% 0%;
	padding: 80px 0px;
	position: relative;
}

.main_footer::before {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.76);
}

.footer_box {
	width: 100%;
	height: auto;
}

.footer_box img {
    width: 215px;
    height: auto;
    margin-bottom: 20px;
    border: 10px solid black;
    border-radius: 30px;
}

.footer_box h2 {
	font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #fff;
}

.footer_box hr {
	background: rgb(0, 255, 0);
	width: 80px;
	height: 3px;
	border: none;
	margin: 5px 0px 15px 0px;
}

.footer_box p {
	font-size: 14px;
	color: #fff;
	margin-bottom: 20px;
	line-height: 24px;
}

.footer_box ul {
	margin: 0px;
	padding: 0px;
}

.footer_box ul li {
	list-style-type: none;
}

.footer_box ul li a {
	font-size: 14px;
    color: #fff;
    display: block;
    padding: 5px 7px 5px 7px;
    line-height: 20px;
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
    text-decoration: none !important;
    outline: none !important;
}

.footer_box ul li a:hover {
	padding-left: 5px;
	color: rgb(0, 255, 0);
}

.footer_address {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.footer_address h6 {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0px;
    margin-top: 10px;
}

.footer_address h6 a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.footer_address h6 a i {
	font-size: 10px;
    width: 25px;
    height: 25px;
    color: rgb(0, 255, 0);
    border-radius: 8px;
    border: 1px solid rgb(0 255 17);
    text-align: center;
    line-height: 20px;
}

.footer_address h6 a:hover {
	color: rgb(0, 255, 0);
}

.footer_socialicons {
	width: 100%;
	height: auto;
}

.footer_socialicons ul {
	margin: 0px;
	padding: 0px;
}

.footer_socialicons ul li {
	display: inline-block;
    margin-top: 10px;
	margin-right: 7px;
}

.footer_socialicons ul li a {
	width: 25px;
    height: 25px;
	display: block;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	text-align: center;
	border: none;
	padding: 0px;
	border-radius: 10px;
}

.footer_socialicons ul li a.facebook:hover {
	background-color: #1100ff;
}

.footer_socialicons ul li a.instagram:hover {
	background: linear-gradient(rgb(255, 0, 234), rgb(153, 0, 255), rgb(4, 0, 255));
}

.footer_socialicons ul li a.twitter:hover {
	background: #00b5bb;
}

.footer_socialicons ul li a.telegram:hover {
	background-color: #0084ff;
}

.footer_socialicons ul li a.tiktok:hover {
	background: #8c00ff;
}

.footer_socialicons ul li a.github:hover {
	background: #000000;
}

.footer_socialicons ul li a.youtube:hover {
	background: #ff0000;
}

.footer_socialicons ul li a.snapchat:hover {
	background: #fffb00;
}

.footer_socialicons ul li a.quora:hover {
	background: #ff0000;
}

.footer_socialicons ul li a.reddit:hover {
	background: #ff7b00;
}
.footer_socialicons ul li a.mygmail:hover {
	background: #ff0000;
}

.footer_socialicons ul li a i {
	font-size: 15px;
    line-height: 25px;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.navsocial, .footer_socialicons ul li a:hover i {
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	color: #fff;
}

.footer_socialicons ul li a:hover {
	background: #000000;
}

.footer_bottom {
	width: 100%;
	height: 60px;
	background: #1a1a1a;
	padding: 10px 0px;
}

.footer_bottom p {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	margin: 0px;
}

.footer_bottom p a {
	font-size: 15px;
	font-weight: 500;
	color: rgb(0, 255, 0);
	text-decoration: none;
}

.footer_position {
	position: absolute;
	top: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0;
	padding: 0;
}

.footer_position h1 {
	font-size: 40px;
	text-align: center;
	color: #232323;
	padding-bottom: 55px;
	text-transform: uppercase;
	font-weight: 800;
}

.footer_position h1 em {
	font-style: normal;
	color: rgb(0, 255, 0);
}
