@media only screen and (min-width: 250px) and (max-width: 1199px){
  
.footer_socialicons ul li a.facebook {
	background-color: #1100ff;
}

.footer_socialicons ul li a.instagram {
	background: linear-gradient(rgb(255, 0, 234), rgb(153, 0, 255), rgb(4, 0, 255));
}

.footer_socialicons ul li a.twitter {
	background: #00b5bb;
}

.footer_socialicons ul li a.telegram {
	background-color: #0084ff;
}

.footer_socialicons ul li a.tiktok {
	background: #8c00ff;
}

.footer_socialicons ul li a.github {
	background: #000000;
  color:#ffffff
}

.footer_socialicons ul li a.youtube {
	background: #ff0000;
}

.footer_socialicons ul li a.snapchat {
	background: #c4c25f;
}

.footer_socialicons ul li a.quora {
	background: #ff0000;
}

.footer_socialicons ul li a.reddit {
	background: #ff7b00;
}
.footer_socialicons ul li a.messenger {
	background-image: linear-gradient(to top right, #0b00ff, #e800ff, #ff0000);
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_position {
    position: relative;
  }
  .footer_position h1 {
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .main_footer {
    padding: 40px 0px;
  }
  .footer_address h6 {
    font-size: 13px;
  }
  .footer_address h6 a {
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_position {
    position: relative;
  }
  .footer_position h1 {
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .main_footer {
    padding: 40px 0px;
  }
  .footer_box {
    text-align: center;
  }
  .footer_box p {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .footer_box h2 {
    font-size: 16px;
    text-align: left;
    margin: 5px 0px 0px 0px;
  }
  .footer_box ul li {
    text-align: left;
  }
  .footer_address h6 {
    text-align: left;
    font-size: 13px;
  }
  .footer_address h6 a {
    text-decoration: none;
  }
}
@media only screen and (min-width: 576px) {
  .footer_position {
    position: relative;
  }
  .footer_position h1 {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .main_footer {
   padding: 60px;
  }
  .footer_address h6 a {
    text-decoration: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .footer_position {
    position: relative;
  }
  .footer_position h1 {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .main_footer {
    padding: 40px 0px;
  }
  .footer_box h2 {
    padding-top: 20px;
  }
  .footer_box hr {
    width: 50%;
  }
  .footer_box ul#quicklink {
    margin: 0px;
    padding: 0px;
    display: inline-flex;
  }
  .footer_address {
    margin-top: 30px;
  }
  .footer_address h6 a {
    text-decoration: none;
  }
  .footer_bottom p {
    text-align: center;
    font-size: 12px;
  }
  .footer_bottom p.text-right {
    text-align: center !important;
  }
}
@media only screen and (max-width: 319px) {
  .footer_position {
    position: relative;
  }
  .footer_position h1 {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .main_footer {
    padding: 40px 0px;
  }
  .footer_box h2 {
    padding-top: 20px;
  }
  .footer_box hr {
    width: 50px;
  }
  .footer_box ul#quicklink {
    margin: 0px;
    padding: 0px;
    display: inline-flex;
  }
  .footer_box ul#quicklink li {
    list-style-type: none;
    padding: 8px 12px 8px 10px;
  }
  .footer_address {
    margin-top: 30px;
  }
  .footer_address h6 a {
    text-decoration: none;
  }
  .footer_bottom p {
    text-align: center;
    font-size: 12px;
  }
  .footer_bottom p.text-right {
    text-align: center !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1040px){
  .footer_position {
    position: relative;
  }
  .footer_position h1 {
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .main_footer {
    padding: 40px 0px;
  }
  .footer_address h6 {
    font-size: 13px;
  }
  .footer_address h6 a {
    text-decoration: none;
  }
}

@media screen and (min-width: 550px) and (max-width:768px){
  .footer_box hr{
    background: rgb(0, 255, 0);
    width: 103px;
    height: 5px;
    border: none;
  }
  #contact-me .contact-textarea{
    width: 100%;
  }
}
@media screen and (min-width: 300px) and (max-width:550px){
  #contact-me .contact-textarea{
    width: 85%;
  }
}
