@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper {
    position:absolute;
    background: #ffffff;
    width: 100%;
    z-index: 10;
    text-decoration: none;
}

ul {
    margin-bottom: 0;
    padding: 0px 0px 0px 0px;
}

.wrapper nav {
    position: fixed;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0px 7px 0px 25px;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 5px;
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position:fixed;
    background: #ffffff;
    width: 100%;
}

dl, ol, ul {
    margin-bottom: 0;
}

.wrapper nav {
    position: sticky;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 5px;
    display: flex;
}

.content .logo a {
    display: flex;
    text-decoration: none;
}

.content .logo p {
    color: #000000;
    font-size: 25px;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 0rem;
}

.logo img {
    border-radius: 100%;
    display: flex;
    padding: 0;
    width: 14%;
    height: 14%;
    margin: 0;
}

.content .links li {
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label {
    color: #000000;
    font-size: 15px;
    margin-right: 0px;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.content .links li label {
    display: none;
}

.content .links li a:hover{
    text-decoration: none;
}
.content .links li label:hover {
    text-decoration: none;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    line-height: 50px;
    color: rgb(255, 0, 0);
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    top: 6px;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 75%;
    border: none;
    outline: none;
    font-size: 15px;
    color: rgb(0 0 0);
    background: #f1f1f1;
    border-radius: 5px;
    padding-left: 10px;
}
    
.search-box input::placeholder {
    color: #0099ff;
}

.search-box .go-icon {
    position: absolute;
    right: 0px;
    top: 38%;
    transform: translateY(-50%);
    line-height: 38px;
    width: 50px;
    background: #f1f1f1;
    border: none;
    outline: none;
    color: #00aeff;
    opacity: 100%;
    font-size: 20px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.go-icon:hover {
    text-shadow: 2px 2px 2px 2px blue;
    background: #f1f1f1;
    color: #38adfc;
}

.wrapper input[type="checkbox"] {
    display: none;
}

/* Dropdown Menu code start */
.content .links ul {
    position: absolute;
    background: #ffffff;
    top: 50px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.content .links li:hover>ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.content .links li:hover>ul>ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 20px;
    text-decoration: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li {
    position: relative;
}


.content .links ul li:hover ul {
    top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links {
        margin-left: 30px;
    }

    .content .links li a {
        padding: 8px 13px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }

    .wrapper .search-box input {
        padding: 0 52px 0 8px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }

    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #ffffff;
        height: 100%;
        width: 100%;
        top: 50px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }

    nav #show-menu:checked~.content .links {
        left: 0%;
        padding: 6px;
    }

    /*  */
    .content .links li {
        margin: 0px 6px;
    }

    .content .links li a,
    .content .links li label {
        line-height: 25px;
        font-size: 15px;
        display: block;
        padding: 5px 15px;
        cursor: pointer;
        margin: 0;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content .links #show-blog:checked~ul,
    .content .links #show-courses:checked~ul,
    .content .links #show-items-js:checked~ul,
    .content .links #show-items-css:checked~ul,
    .content .links #show-social:checked~ul {
        max-height: 60vh;
    }

    .content .links ul li {
        margin: 3px 45px 3px 12px;
    }

    .content .links ul li a {
        font-size: 15px;
        line-height: 15px;
        border-radius: 4px !important;
        text-decoration: none;
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 15px;
    }

    .content .logo a {
        font-size: 20px;
    }
    
    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }

    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }

    .wrapper .search-box input {
        padding-right: 30px;
    }
}

.dummy-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.dummy-text h2 {
    font-size: 45px;
    margin: 5px 0;
}