
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* body {
    background: url("https://telegra.ph/file/349b16b8b64be1a4f2fa1.jpg") no-repeat center center/cover;
} */
