
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url("https://www.kapwing.com/e/62de6a9e9a6cc60057a806ca?autoplay=true") no-repeat center center/cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
