
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbofcYf2NYLKu-nG0t3uppbeFmNdVMxwNRGw&usqp=CAU") no-repeat center center/cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
